/**
 * Default html element styles
 */
body {
  background: #eeeeee;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.45em;
  padding-top: 1em;
}

/* Headline styles */
h1, h2, h3, h4, h5, h6 {
  margin: .3em 0 .75em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5{
  font-size: 1.25em;
}

h6 {
  font-size: 1.1em;
}

/* Block elements */
p, ul, ol, dl, table, blockquote {
  margin-bottom: 1.5em;
}

/* List styles */
ul, ol {
  margin-left: 2.5em;
}

li {
  margin: .3em 0;
}

dl {
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: .1em 0 .3em 1em;
}

/* Table styles */
table {
  font-size: .875em;
  width: 100%;
}

tr {
  border-bottom: 1px solid #dddddd;
}

td, th {
  padding: .3em;
}

th {
  background: #2C2D35;
  color: #eeeeee;
  text-shadow: 1px 1px 1px #000000;
}

tr:nth-child(even) td, tr.odd td {
  background: #eeeeee;
}

tr:nth-child(odd) td, tr.odd td, tr td.region {
  background: #ffffff;
}

tr.ok td {
  background: #6eb43f;
}

tr.ok th {
  background-color: #118811;
}

tr.error td {
  background: #dd7777;
}

tr.error th {
  background-color: #881111;
}

tr.warning td {
  background: #E09010;
}

tr.warning th {
  background-color: #885511;
}

tfoot {
  border-top: 2px solid #333333;
  color: #aaaaaa;
  font-size: .875em;
}

tfoot tr {
  border-bottom: none;
}

tfoot tr:nth-child(odd) td, tfoot tr:nth-child(even) td, tfoot tr td {
  background: transparent;
}

/* Form styles */
fieldset {
  border: 1px solid #6e6e88;
  -moz-border-radius: .15em;
  -webkit-border-radius: .15em;
  border-radius: .15em;
}

fieldset.collapsed {
  border-width: 2px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

legend {
  font-weight: bold;
}

legend a, legend a:hover {
  color: #333333;
  text-decoration: none;
}

input, textarea, select {
  border: 2px solid #6e6e88;
  -moz-border-radius: .15em;
  -webkit-border-radius: .15em;
  border-radius: .15em;
  color: #666666;
  padding: 3px;
}

input:focus, textarea:focus, select:focus {
  background: #ffffee;
  border-color: #ddcc66;
  color: #333333;
}

.node-form input#edit-title {
  font-size: 1.8em;
}

input.form-text, textarea {
  max-width: 95%;
}

input.form-submit, input.teaser-button {
  background: #666666;
  border: 1px solid #333333;
  color: #eeeeee;
  cursor: pointer;
  font-weight: bold;
  padding: .4em 1em;
  text-shadow: 1px 1px 1px #333333;
}

input.form-submit:hover, input.teaser-button:hover {
  color: #ffffff;
}

input#edit-submit, input#edit-save {
  background: #cc6666;
  border-color: #993333;
  color: #ffeeee;
  text-shadow: 1px 1px 1px #993333;
}

input.form-submit:hover, input.teaser-button:hover,
input#edit-submit:hover, input#edit-save:hover{
  color: #ffffff;
}

input[disabled], input[disabled]#edit-submit, input[disabled]#edit-save {
  background: #cccccc;
  border-color: #eeeeee;
  color: #aaaaaa;
  cursor: auto;
  text-shadow: 1px 1px 1px #eeeeee;
}

/* Link styles */
a {
}

a:visited {
}

a:hover {
}

/**
 * Common classes
 */
.submitted {
  color: #666666;
  font-size: .875em;
  font-style: italic;
  margin-bottom: 1.5em;
}

/**
 * Specific structural page elements
 */
#overlay-content {
  -moz-border-radius: .3em 0 .3em .3em;
  -webkit-border-radius: .3em 0 .3em .3em;
  border-radius: .3em 0 .3em .3em;
  -moz-box-shadow: 0 0 .5m #000000;
  -webkit-box-shadow: 0 0 .5em #000000;
  box-shadow: 0 0 .5em #000000;
}

#page-wrapper {
  background: #ffffff;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  -moz-box-shadow: 0 0 .3em #666666;
  -webkit-box-shadow: 0 0 .3em #666666;
  box-shadow: 0 0 .3em #666666;
}

.overlay #page-wrapper {
  background: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#header, #footer {
  background: #cccccc;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em .3em 0 0;
  -moz-box-shadow: 0 0 .3em #999999;
  -webkit-box-shadow: 0 0 .3em #999999;
  box-shadow: 0 0 .3em #999999;
}

#site-name {
  font-size: 1.85em;
  -moz-text-shadow: 1px 1px 1px #eeeeee;
  -webkit-text-shadow: 1px 1px 1px #eeeeee;
  text-shadow: 1px 1px 1px #eeeeee;
}

#site-name a {
  color: #333333;
  text-decoration: none;
}

#site-name a:hover {
  color: #000000;
}

#navigation {
  background: #888888;
  -moz-box-shadow: 0 0 .3em #999999;
  -webkit-box-shadow: 0 0 .3em #999999;
  box-shadow: 0 0 .3em #999999;
}

#navigation h2 {
  border-top: 1px solid #666666;
  color: #666666;
  font-size: .75em;
  -moz-text-shadow: 1px 1px 0 #cccccc;
  -webkit-text-shadow: 1px 1px 0 #cccccc;
  text-shadow: 1px 1px 0 #cccccc;
  text-transform: uppercase;
}

#navigation ul {
  font-size: .875em;
  font-weight: bold;
}

#navigation a {
  color: #dddddd;
  text-decoration: none;
}

.breadcrumb {
  background: #dddddd;
  -moz-border-radius: 0 0 .3em .3em;
  -webkit-border-radius: 0 0 .3em .3em;
  border-radius: 0 0 .3em .3em;
  -moz-box-shadow: 0 0 .3em #999999;
  -webkit-box-shadow: 0 0 .3em #999999;
  box-shadow: 0 0 .3em #999999;
  font-size: .75em;
  font-weight: bold;
  text-transform: uppercase;
}

.breadcrumb a {
  color: #666666;
  text-decoration: none;
  -moz-text-shadow: 1px 1px 1px #ffffff;
  -webkit-text-shadow: 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px #ffffff;
}

.breadcrumb a:hover {
  color: #333333;
}

.sidebar .region {
  border-left: 2px solid #999999;
}
