#page-wrapper {
  margin: 10px auto;
  width: 96%;
  max-width: 1536px;
  min-width: 960px;
}

#page {
  padding: 1em;
}

#header, #footer {
  padding: 1em;
}

#logo {
  display: block;
  float: left;
  margin: 0 1em 0 0;
}

#site-name {
  display: block;
  line-height: 1em;
  margin: 0;
  padding-top: .5em;
}

#navigation h2 {
  margin: 0;
  padding: 0 1em;
}

#navigation a {
  padding: 0 1em;
}

.breadcrumb {
  padding: .5em 1em;
}

#main-wrapper {
  margin: 1em 0;
}

.column {
  float: left;
}

.sidebar {
  width: 20%;
}

.no-sidebars #content {
  width: 100%;
}

.one-sidebar #content {
  width: 80%;
}

.two-sidebars #content {
  width: 60%;
}

.one-sidebar #content .section, .two-sidebars #content .section {
  padding-right: 1em;
}

#main-wrapper .region {
  padding: .1em 1em
}

#content .region {
  padding-right: 0;
  padding-left: 0;
}

.one-sidebar .sidebar .region,
#sidebar-second .region {
  padding-right: 0;
}

.overlay #page-wrapper, .overlay #page {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: inherit;
  min-width: inherit;
}

.overlay #skip-link, .overlay #header, .overlay #navigation, .overlay #footer {
  display: none;
}
