body {
  background: white;
  font-size: 12pt;
  padding-top: 0 !important;
}

#page-wrapper, #page {
  background: transparent none;
  border: 0;
  color: black;
  float: none !important;
  margin: 0 5%;
  padding: 0;
  width: auto;
  max-width: inherit;
  min-width: inherit;
}

#page-wrapper {
  background: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#skip-link, #toolbar, #navigation, #breadcrumb, .tabs, .sidebar {
  display: none;
}

#header, #footer {
  background: transparent;
  border: none;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: black;
  margin: 0 10%;
  padding: 1em 0 0;
}

#site-name a {
  color: black;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}

#content {
  border-top: 1px solid #333333;
  margin-left: 10%;
  padding-top: 1em;
}

a:link, a:visited {
  background: transparent;
  font-weight: bold;
  text-decoration: underline;
}

#content a:link:after, #content a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}

#content a[href^="/"]:after {
  /* The base URL of the site should be prefixed to the href here. */
  content: " (" attr(href) ") ";
}
